<div class="row">
  <div class="col-md-10 col-md-offset-4">
    <h1><%= @recipe.title %></h1>
    <% if chef = @recipe.chef %>
      <p><%= chef.name %></p>
    <% end %>
    <% if @recipe.photo %>
    <%= image_tag @recipe.photo, class: "img-fluid" %>
    <% end %>
    <p><%= markdown_to_html(@recipe.description) %></p>

    <% if @recipe.tags %>
      <% @recipe.tags.map do |tag| %>
        <span class="badge badge-primary"><%= tag %></span>
      <% end %>
    <% end %>
  </div>
</div>
