<div class="row">
  <div class="col-md-10 col-md-offset-4">
    <h1><%= @recipe.title %></h1>
    <% chef = find_chef(@recipe) %>
    <% if chef %>
      <p><%= chef.name %></p>
    <% end %>
    <%= image_tag @recipe.photo.url, class: "img-fluid" %>
    <p><%= markdown_to_html(@recipe.description) %></p>

    <% find_tags(@recipe).map do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
  </div>
</div>
